.forgetPassword {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.forgetPassword h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.forgetPassword__input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.forgetPassword__email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.forgetPassword__email > label {
  font-size: 14px;
  color: #555;
}

.forgetPassword__email > input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.forgetPassword__email > input:focus {
  border-color: #007bff;
}


.forgetPassword__button {
  text-align: center;
}

.forgetPassword__button button {
  padding: 10px 15px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgetPassword__button button:hover {
  background-color: #0056b3;
}

.forgetPassword__text {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #555;
}

.forgetPassword__text a {
  color: #007bff;
  text-decoration: none;
}

.forgetPassword__text a:hover {
  text-decoration: underline;
}
